@page
@model Adventure_Chest.Models.User
<div id="login" class="modal">
    <!-- Модальное окно с id "login" -->
    <div class="modal-content">
        <div class="modal-fade">
            <button class="close" data-dismiss="modal" area-hidden="true">X</button>
            <h4>Вход</h4>
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>Логин:</dt>
                <dd>@Html.DisplayFor(model => model.Login)</dd>
                <dt>Пароль</dt>
                <dd>@Html.DisplayFor(model => model.Password)</dd>
            </dl>
        </div>
    </div>
</div>

