@page
@model Adventure_Chest.Models.User
@{
    ViewData["Title"] = "Правила игры";
}
<h2>@ViewBag.Title</h2>
<a href="./Index">Назад к игре</a>
<div class="text-center">
    <h3>Сбор партии</h3>
    <p>
        Приключенец бросает все <b>7 белых кубиков партии</b>, чтобы собрать начальную партию.
        Если приключенец собирает партию не в первый раз за игру и карта его героя была повёрнута набок, верните её в подготовленное положение.
        Повелитель подземелья кладёт 10-гранный кубик уровней гранью со значением «1» вверх.
        Затем он бросает 1 чёрный кубик подземелья, чтобы заселить подземелье.
    </p>
    <h3>Приключение</h3>
    <p>Ход приключенца разделён на четыре фазы: <b>Фаза монстров Фаза добычи Фаза дракона Фаза перегруппировки</b></p>
    <h3>Конец приключения</h3>
    <p>
        Если приключенец решил передохнуть или сбежал из подземелья, все кубики партии и подземелья передаются игроку
        слева. Повелитель подземелья становится новым приключенцем, а игрок слева от него берёт на себя роль повелителя
        подземелья. Новый приключенец собирает свою партию, а новый повелитель заселяет подземелье, и всё повторяется
        сначала.
    </p>
    <h3>Конец игры</h3>
    Игра заканчивается, как только каждый игрок 3 раза побывал приключенцем. Каждый неиспользованный жетон сокровища
    стоит 1 очко опыта (за исключением «Городского портала», который оценивается в 2 очка). Каждая пара драконьих чешуек
    принесёт вам дополнительно 2 очка опыта. Побеждает игрок, набравший больше всего очков опыта. При ничьей
    побеждает претендент с наименьшим количеством жетонов сокровищ. Если и в этом случае ничья, претенденты делят победу.
</div>